.starproduct {
  display: flex;
  justify-content: center;
  align-items: center;
}
.starproduct img {
  transition: all 0.5s;
}
.starproduct img:hover {
  box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
}
